/* external imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");

/* css file imports */
@import url(./sections/navbar.css);
@import url(./sections/header.css);
@import url(./sections/project.css);
@import url(./sections/announcement.css);
@import url(./sections/trending.css);

:root {
  --primary-color: #ffffff;
  --secondary-color: #1992d4;
  --accent-color: #fcbc34;
  --skeleton-color: #e2e8f0;

  --text-color: #252525;
  --text-secondary: #666666;
  --text-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
}